<h2>Your Details</h2>

<ul>
  <li>Username: <%= @vendor.username %></li>
  <li>Email address: <%= @vendor.email %></li>
  <li>Description: <%= @vendor.description %></li>
  <li>ID #: <%= @vendor.id %></li>
  <li>Market: <%= @market.name %></li>
</ul>

<ul>

</ul>
