<!DOCTYPE html>
<html>
<head>
  <title>US Goth Markets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav id="login">
    <% if current_user %>
      <%= link_to "My Account", show_vendor_path(current_user.id) %>
      <%= link_to "Sign Out", sign_out_path %>
    <% else %>
      <%= link_to "Create account", new_vendor_path %>
      <%= link_to "Sign-In", sign_in_path %>
    <% end %>
  </nav>


  <div id="main-nav">

    <%= link_to(image_tag("goth-cow.png", alt: "US Goth Markets logo", id: "cow"), root_path) %>

    <nav id="main-links">
      <%= link_to "VENDORS", vendors_path %>&nbsp;/&nbsp;<%= link_to "MARKETS", markets_path %>&nbsp;/&nbsp;<a href="/">PRODUCTS</a>
    </nav>

    <form id="search">
      Search: <input type="text" name="search">
    </form>

  </div>


  <div id="wrapper">

    <div id="content">

      <p class="notice" ><%= notice %></p>

      <%= yield %>

    </div>

  </div>



</body>
</html>
